/* Thus overrides eslint and pRettier Settings*/
{
  "extends": [
    "wesbos",
    "prettier"
  ],
  "rules": {
    "no-console": 1,
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "endOfLine": "auto",
        "tabWidth": 4,
        "useTabs": false,
        "printWidth": 96
      }
    ]
  },
  "parser": "@babel/eslint-parser"
}